# [Link](http://spark.apache.org/docs/2.2.0/api/python/pyspark.ml.html#module-pyspark.ml.recommendation)

In [18]:
# Import dependencies
from __future__ import print_function

import sys
if sys.version >= '3':
    long = int
    
import pandas as pd
from pyspark.sql import SparkSession

# PySpark ML Imports
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row

# SparkContext
from pyspark import SparkContext

# PySpark ML Imports

from pprint import pprint

In [19]:
if __name__ == "__main__":
    spark = SparkSession\
        .builder\
        .appName("ALSExample")\
        .getOrCreate()

In [20]:
# Load data
df = pd.DataFrame()
df = pd.read_csv('TopStaredRepositories.csv')

In [21]:
# Remove columns not needed
#df.set_index(['Repository Name'])
COLUMNS_TO_REMOVE_LIST = ['Description',
                          'Last Update Date', 'Language', 
                          'Tags', 'Url','Gravatar' ,'Unnamed: 0']



for column in COLUMNS_TO_REMOVE_LIST :
    try:
        del df[column]
    except Exception:
        pass
print(df.head(2))

       Username Repository Name Number of Stars
0  freeCodeCamp    freeCodeCamp            290k
1          twbs       bootstrap            112k

In [22]:
# DF User
def get_metadata(df, key, val):
    #create a new column with index 
    df['index'] = df.index
    if key == "Username":
        return {str(row[key]): row[val] for _, row in df.iterrows()}
    else:
        return {row[key]: row[val] for _, row in df.iterrows()}

# embd2idx is a mapping. type(embd2idx) = dictionary    
emb2idxU = get_metadata(df, "index", "Username")

# print(emb2idxU)
len(emb2idxU)

# DF User
# Create DataFrame from 0...n
d = dict()
size = len(emb2idxU)
for x in range(0,size):
    d[x]=x
# print(d)

# Convert dict to DataFrame
dfU = pd.DataFrame.from_dict(d,orient='index')
# type(dfU)

# DF Repo
def get_metadata(df, key, val):
    #create a new column with index 
    df['index'] = df.index
    if key == "Repository Name":
        return {str(row[key]): row[val] for _, row in df.iterrows()}
    else:
        return {row[key]: row[val] for _, row in df.iterrows()}

# embd2idx is a mapping. type(embd2idx) = dictionary    
emb2idxR = get_metadata(df, "index", "Repository Name")

# print(emb2idx)
len(emb2idxR)

# DF Repo
# Create DataFrame from 0...n
d = dict()
size = len(emb2idxR)
for x in range(0,size):
    d[x]=x
# print(d)

# Convert dict to DataFrame
dfR = pd.DataFrame.from_dict(d,orient='index')
type(dfR)

pandas.core.frame.DataFrame

In [ ]:
# type(emb2idxU) dict
# type(dfU) pandas.core.frame.DataFrame

In [23]:
df1 = df['Repository Name'].map(lambda x: x) # pandas.core.series.Series
df1 = df1.to_frame()                         # pandas.core.frame.DataFrame
df2 = df['Number of Stars'].map(lambda x: x.rstrip('k'))
df2 = df2.to_frame()

In [24]:
# df1.set_index(['Repository Name'])
df2.set_index(['Number of Stars'])
type(df2)

pandas.core.frame.DataFrame

In [25]:
#Combine the three data frames
# fdf = User, Repo, of stars
fdf = pd.concat([dfU,dfR, df2], axis=1, ignore_index=False,sort = False) #Sort Warning

#print(fdf)

In [26]:
fdf.to_csv('Preprocessing.csv')

In [27]:
# Remove top Row containing Coloumn names
with open("Preprocessing.csv",'r+') as f:
    with open("Dataset.csv",'w') as f1:
        f.readline() # skip header line
        for line in f:
            f1.write(line)

# Datasetcsv

In [28]:
df = pd.read_csv("Dataset.csv")
df.head(2)

   0  0.1  0.2    290
0  1    1    1  112.0
1  2    2    2   87.8

In [29]:
lines = spark.read.text("Dataset.csv").rdd
print(lines.take(3))

[Row(value='0,0,0,290'), Row(value='1,1,1,112'), Row(value='2,2,2,87.8')]

In [30]:
# Need to convert p[1] from str to int
parts = lines.map(lambda row: row.value.split(","))
print(parts.take(2))
type(parts)
# RDD mapped as int and float from Dataset

[['0', '0', '0', '290'], ['1', '1', '1', '112']]

pyspark.rdd.PipelinedRDD

In [31]:
ratingsRDD = parts.map(lambda p: Row(userId=int(p[1]),
                                     repoId=int(p[2]),
                                     repoCount=float(p[3])))
ratings = spark.createDataFrame(ratingsRDD)
type(ratings) #pyspark.sql.dataframe.DataFrame
# print(ratings.head(10))

pyspark.sql.dataframe.DataFrame

In [32]:
# Implicit Rating

ratingsRDD = parts.map(lambda p: Row(user=int(p[1]),
                                     item=int(p[2]),
                                     rating=float(p[3])))
ratings = spark.createDataFrame(ratingsRDD)
(training, test) = ratings.randomSplit([0.8, 0.2])
als = ALS(rank=5, maxIter=5, alpha = 1.0, 
          implicitPrefs=True, seed=0)
model = als.fit(ratings)

In [33]:
# model.userFactors.orderBy("id").collect()

In [34]:
test = test.drop("rating")

In [35]:
predictions = sorted(model.transform(test).collect(), 
                     key=lambda r: r[0])

user_recs = model.recommendForAllUsers(3)
item_recs = model.recommendForAllItems(3)
# user_recs of type pyspark.sql.dataframe.DataFrame

In [123]:
user_recs

DataFrame[user: int, recommendations: array<struct<item:int,rating:float>>]

In [36]:
user_recs.where(user_recs.user == 222) \
         .select("recommendations.item", "recommendations.rating") \
         .collect()

[Row(item=[6, 44, 42], rating=[0.16403163969516754, 0.14122384786605835, 0.11740853637456894])]

In [49]:
item_recs.where(item_recs.item == 2)       \
         .select("recommendations.user",   \
                 "recommendations.rating") \
          .collect()

[Row(user=[2, 26, 13], rating=[0.8256587982177734, 0.5344247817993164, 0.5243312120437622])]

# Mapping back (In progress)

In [179]:
row_number = 4

In [180]:
user_recommended = user_recs.toPandas()
user_recommended

     user                                    recommendations
0     471  [(0, 0.005226806737482548), (23, 0.00444022519...
1     463  [(59, 0.004731948487460613), (14, 0.0043658032...
2     833  [(0, 0.0003944472991861403), (22, 0.0002864262...
3     496  [(3, 0.004276900552213192), (7, 0.004190643783...
4     148  [(9, 0.2732253968715668), (21, 0.2586356997489...
5     540  [(13, 0.0027574943378567696), (2, 0.0025258106...
6     392  [(16, 0.009262772276997566), (65, 0.0079017588...
7     243  [(9, 0.12746505439281464), (21, 0.097083449363...
8     623  [(14, 0.001248658518306911), (62, 0.0012246754...
9     737  [(6, 0.0007072219159454107), (44, 0.0005289434...
10    897  [(15, 0.00017934618517756462), (48, 0.00017802...
11    858  [(7, 0.0003449564101174474), (21, 0.0002691239...
12     31  [(31, 0.5629392862319946), (62, 0.437671720981...
13    516  [(48, 0.0032058521173894405), (8, 0.0028122712...
14    580  [(0, 0.002336912089958787), (55, 0.00156051572...
15    251  [(14, 0.10991431772708893), (1, 0.101471729576...
16    451  [(28, 0.0052391234785318375), (0, 0.0051727779...
17     85  [(0, 0.5384823083877563), (4, 0.41155058145523...
18    137  [(30, 0.30927085876464844), (39, 0.30046430230...
19    808  [(57, 0.0003191647119820118), (13, 0.000316170...
20    883  [(0, 0.0001898585178423673), (22, 0.0001745755...
21     65  [(65, 0.4467225670814514), (16, 0.409026324748...
22    458  [(41, 0.004380054771900177), (3, 0.00425368826...
23    879  [(57, 0.0002193025720771402), (2, 0.0002119209...
24    970  [(57, 0.00010659692634362727), (40, 0.00010113...
25    481  [(10, 0.004299115389585495), (5, 0.00409769453...
26     53  [(11, 0.5197670459747314), (53, 0.481139510869...
27    804  [(25, 0.0003984914510510862), (15, 0.000313211...
28    255  [(3, 0.11176170408725739), (24, 0.088913664221...
29    588  [(4, 0.0017916560173034668), (28, 0.0015332698...
..    ...                                                ...
950   755  [(6, 0.0005625911289826035), (44, 0.0005144968...
951   138  [(6, 0.3294931650161743), (44, 0.3283476829528...
952   180  [(3, 0.20618794858455658), (17, 0.202116787433...
953   932  [(28, 0.0001690514327492565), (0, 0.0001511459...
954   483  [(19, 0.0032005629036575556), (40, 0.003130237...
955   643  [(21, 0.00112468795850873), (31, 0.00110047985...
956   104  [(13, 0.3542293906211853), (46, 0.324363887310...
957   656  [(28, 0.0009215690079145133), (0, 0.0008982468...
958   917  [(31, 0.0001822017802624032), (30, 0.000159032...
959   468  [(13, 0.0049683284014463425), (27, 0.004201313...
960   841  [(17, 0.00026970988255925477), (59, 0.00022414...
961   134  [(0, 0.3917815387248993), (28, 0.2806417047977...
962   584  [(2, 0.0018932725070044398), (57, 0.0016799016...
963   878  [(1, 0.00022470857948064804), (25, 0.000221676...
964   521  [(20, 0.0030512746889144182), (0, 0.0025995911...
965   407  [(44, 0.009981812909245491), (6, 0.00912416446...
966   788  [(6, 0.00046270026359707117), (44, 0.000407260...
967   701  [(0, 0.0008113321382552385), (38, 0.0007702399...
968   963  [(14, 0.00013393588596954942), (53, 0.00011596...
969   617  [(25, 0.0010118563659489155), (2, 0.0009992998...
970   393  [(0, 0.012693253345787525), (20, 0.00856569968...
971   954  [(28, 0.00014698063023388386), (0, 0.000145576...
972   315  [(30, 0.038456663489341736), (7, 0.03545763343...
973    36  [(36, 0.538703441619873), (37, 0.4920608699321...
974   187  [(0, 0.2343452274799347), (4, 0.23066088557243...
975   208  [(21, 0.16726899147033691), (9, 0.154283016920...
976   401  [(0, 0.00930134579539299), (76, 0.009014556184...
977   422  [(53, 0.004998561926186085), (14, 0.0047313533...
978   517  [(23, 0.0032061829697340727), (33, 0.002594627...
979    89  [(7, 0.40959054231643677), (36, 0.366340279579...

[980 rows x 2 columns]

In [181]:
user_id = user_recommended.user[row_number]

In [172]:
type(user_id)

numpy.int32

In [182]:
# Usernme works
user_name = emb2idxU[user_id]
print(user_name)

zenorocha

In [176]:
repo_id = user_recommended.recommendations[row_number][0].item

In [178]:
repo_name = emb2idxR[repo_id]
repo_name

'jQuery-File-Upload'